@charset "utf-8";

div {
    border: red solid 1px;
}
span {
    border: blue solid 1px;
}

.logBox {
    overflow: scroll;
    height: 100px;
}

.actionComplete {
    width: 80px;
    height: 80px;
}

.blockingTimerDiv {
    width: 100px;
    height: 100px;
    background-color: #BBCCBB;
}

.marketSquareMenu {
    display: none;
}

.storageSquareMenu {
    display: none;
}

.pumpableSquareMenu {
    display: none;
}

.drillableSquareMenu {
    display: none;
}

.gameSquare1 {
    width: 90px;
    height: 90px;
    cursor: pointer;
    background-color: lightblue;
}
.gameSquare2 {
    width: 90px;
    height: 90px;
    cursor: pointer;
    background-color: cornflowerblue;
}
.gameSquare3 {
    width: 90px;
    height: 90px;
    cursor: pointer;
    background-color: blue;
}
.gameSquare4 {
    width: 90px;
    height: 90px;
    cursor: pointer;
    background-color: blueviolet;
}
