
<div id="topMenu" data-role="navbar">
    <ul style="list-style: none;">
        <li>@Html.ActionLink("Play", "Play", "Board")</li>
        <li>@Html.ActionLink("Leaderboard", "Index", "Leaderboard")</li>
        <li>@Html.ActionLink("About page", "About", "Home")</li>
        <li>@Html.ActionLink("Help page", "Help", "Home")</li>
    </ul>
</div>
