<div id="drillableSquareMenu" class="drillableSquareMenu">
    <div data-role="controlgroup">
        <a id="drillableSquareBuyLand" data-role="button">Buy Land</a>
        <a id="drillableSquareBuildDrill" data-role="button">Build Drill</a>
        <a id="drillableSquareDrill" data-role="button">Drill</a>
    </div>
</div>