<div id="marketSquareMenu" class="marketSquareMenu">
    <div data-role="controlgroup">
        <a id="marketSquareBuyLand" data-role="button">Buy Land</a>
        <a id="marketSquareBuildStation" data-role="button">Build Petrol Station</a>
        <!--<a id="marketSquareStockUp" data-role="button">Stock Up</a>-->
        <a id="marketSquareStartSelling" data-role="button">Start Selling</a>
        <a id="marketSquareUpgradeCapacity" data-role="button">Upgrade Capacity</a>
    </div>
</div>