<div id="pumpableSquareMenu" class="pumpableSquareMenu">
    <div data-role="controlgroup">
        <a id="pumpableSquareBuildPump" data-role="button">Build Pump</a>
        <a id="pumpableSquareStartPumping" data-role="button">Start Pumping</a>
        <a id="pumpableSquareUpgradePumpCapacity" data-role="button">Upgrade Pump Capacity</a>
    </div>
</div>