<div id="storageSquareMenu" class="storageSquareMenu">
    <div data-role="controlgroup">
        <a id="storageSquareBuyLand" data-role="button">Buy Land</a>
        <a id="storageSquareBuildRefinery" data-role="button">Build Refinery</a>
        <a id="storageSquareUpgradeStorageCapacity" data-role="button">Upgrade Capacity</a>
        <a id="storageSquareUpgradeProcessingCapacity" data-role="button">Upgrade Processing</a>
    </div>
</div>